{% extends "layout.html" %}
{% block body_content %}
	<h1>Home Page</h1>
	<p>Under Construction</p>
	{% for constellation in constellations %}
		<div>
			<h3>{{ constellation.title }}</h3>
			<p><b> - Name: </b>{{ constellation.first_name }}</p>
			<p><b> - Right Ascension: </b>{{ constellation.right_ascension }}</p>
			<p><b> - Declination: </b>{{ constellation.declination }}</p>
			<p><b> - Asterism: </b>{{ constellation.asterism }}</p>
			<p><b> - Description: </b>{{ constellation.description }}</p>
		</div>
	{% endfor %}
{% endblock body_content %}