[Unit]
Description=Flask Application
[Service]
User=pythonadm
WorkingDirectory=/opt/flask-app-development
ExecStart=/bin/bash -c 'cd /opt/flask-app-development && source ~/.bashrc && source ./venv/bin/activate && python3 app.py'
[Install]
WantedBy=multi-user.target
